h2 {
  margin-bottom: 10px;
  font-weight: 600;
}

ion-card {
  background-color: #1c1c1c;
  border-radius: 12px;
}

.textarea {
  background: #272727;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  margin-bottom: 20px;
}
