<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Senha</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

  <p *ngIf="error" class="error">{{ error }}</p>

  <ion-button expand="block" color="primary" (click)="login()">
    Entrar
  </ion-button>

  <ion-button expand="block" fill="clear" (click)="goToSignup()">
    Criar Conta
  </ion-button>

</ion-content>
