<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Filmes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="list-container">
    <h2>Bem-vindo ao CineCrítica!</h2>
    <p>Aqui você verá os filmes e poderá deixar sua crítica.</p>

    <div *ngIf="isLoading" class="ion-text-center ion-padding">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Carregando filmes...</p>
    </div>

    <div *ngIf="!isLoading && movies.length === 0" class="ion-text-center ion-padding">
      <p>Nenhum filme popular encontrado.</p>
    </div>

    <ion-list *ngIf="!isLoading && movies.length > 0">
      <ion-list-header>
        <ion-label>Filmes Populares</ion-label>
      </ion-list-header>
      
      <ion-item *ngFor="let movie of movies" detail>
        <ion-label>
          <h2>{{ movie.title }}</h2>
          <p>Lançamento: {{ movie.release_date | date: 'dd/MM/yyyy' }}</p> 
          <p class="overview">{{ movie.overview | truncate: 100 }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>
</ion-content>