<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CineCritica</ion-title>
    <ion-buttons slot="end">
      <ion-button id="profile-menu-trigger" fill="clear" color="primary">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <span class="font-semibold">{{ username }}</span>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  @if (highlights.length === 0) {
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  } @else {


    <h2 class="section-title">Destaques</h2>
    <div class="movie-row hero-row">
      @for (movie of highlights; track movie.id) {
        <div class="movie-card hero-card" (click)="openMovie(movie.id)" appHighlight>
          <img [src]="imageBase + movie.backdrop_path" [alt]="movie.title">
          <p class="movie-title">{{ movie.title }}</p>
        </div>
      }
    </div>

  
    <h2 class="section-title">Em Alta</h2>
    <div class="movie-row">
      @for (movie of trending; track movie.id) {
        <div class="movie-card" (click)="openMovie(movie.id)" appHighlight>
          <img [src]="imageBase + movie.poster_path" [alt]="movie.title">
          <p class="movie-title">{{ movie.title | truncate:15 }}</p>
        </div>
      }
    </div>


    <h2 class="section-title">Recomendados</h2>
    <ion-list>
      @for (movie of recommended; track movie.id) {
        <ion-item button (click)="openMovie(movie.id)" detail="true">
          <ion-thumbnail slot="start">
            <img [src]="imageBase + movie.poster_path" />
          </ion-thumbnail>
          <ion-label>
            <h3>{{ movie.title }}</h3>
            <p>Lançamento: {{ movie.release_date | date:'dd/MM/yyyy' }}</p>
            <p><ion-badge color="warning">{{ movie.vote_average.toFixed(1) }}</ion-badge></p>
          </ion-label>
        </ion-item>
      }
    </ion-list>

  }

</ion-content>


<ion-popover trigger="profile-menu-trigger" triggerAction="click" side="bottom" alignment="end">
  <ng-template>
    <ion-content>
      <ion-list lines="none">
        
      
        <ion-item button (click)="goToMyReviews($event)" detail="false">
          <ion-icon slot="start" name="star-outline"></ion-icon>
          <ion-label>Minhas Críticas</ion-label>
        </ion-item>
        

        <ion-item button (click)="logout($event)" detail="false" color="danger">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Sair</ion-label>
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>