<ion-content [fullscreen]="true">
  <div class="login-wrapper">
    <div class="login-container">

      <img src="assets/icon/filme-logo.png" 
           alt="Logo do Aplicativo" 
           class="app-logo">

      <ion-title class="ion-text-center">CineCrítica</ion-title>
      <p>Sua opinião também é arte.</p>

      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input label="Usuário ou Email" 
                   labelPlacement="floating" 
                   [(ngModel)]="usernameOrEmail" placeholder="Digite seu usuário ou email">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-input label="Senha" 
                   labelPlacement="floating" 
                   type="password" 
                   [(ngModel)]="password" placeholder="Digite sua senha">
        </ion-input>
      </ion-item>

      <ion-button expand="block" class="login-btn" color="primary" (click)="onLogin()">
        Entrar
        <ion-icon slot="end" name="log-in"></ion-icon>
      </ion-button>

      <ion-button expand="block" class="signup-btn" fill="clear" (click)="onSignup()">
        Criar conta
        <ion-icon slot="end" name="person-add"></ion-icon>
      </ion-button>

    </div>
  </div>
</ion-content>